/** Basic config file **/

configuration {
  show-icons:         true;
  modi: "window,drun,ssh,run,filebrowser";
}

//@theme "nord"

//@theme "/home/lcg/.local/share/rofi/themes/rounded-green-dark.rasi"
@theme "/home/lcg/.local/share/rofi/themes/squared-everforest.rasi"
