* {
  font-size: 14px;
  border: none;
  border-radius: 0;
  font-family: FiraCodeNerdFont;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#waybar {
  color: #d4be98;
  background: rgba(50, 48, 47, 1);
}

#workspaces {
  margin-right: 16px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
  color: #d4be98;
  background: #32302f;
}
#workspaces button.active {
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  background: #d8a657;
  color: rgba(0, 0, 0, 1);
}

#workspaces button:hover {
  color: @wb-hvr-fg;
  background: #d8a657;
}

/*
 * Arrows
 */
#custom-arrow-light-on-bg-left {
  font-size: 17px;
  color: #3c3836;
  background: transparent;
}

#custom-arrow-light-on-bg-right {
  font-size: 17px;
  color: #3c3836;
  background: transparent;
}

#custom-arrow-light-on-dark-left,
#custom-arrow-light-on-dark-right {
  font-size: 17px;
  color: #3c3836;
  background: #32302f;
}

#custom-arrow-dark-on-light-left,
#custom-arrow-dark-on-light-right {
  font-size: 17px;
  color: #32302f;
  background: #3c3836;
}

/*
 * General background
 */
#network,
#memory,
#backlight,
#language,
#custom-weather {
  background: #32302f;
  padding: 0 3 0 3;
}
#tray {
  margin-left: 16px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}
#taskbar {
  margin-right: 16px;
}
#taskbar button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
  color: @wb-color;
}

#taskbar button.active {
  background: @wb-act-bg;
  color: @wb-act-color;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
}

#cpu,
#pulseaudio,
#temperature,
#battery,
#custom-notification {
  background: #3c3836;
  padding: 0 3 0 3;
}

/*
 * Warning plugins state
 */
#memory.warning,
#cpu.warning,
#battery.warning {
  color: #d8a657;
}

/*
 * Critical plugins state
 */
#cpu.critical,
#temperature.critical,
#memory.critical,
#battery.critical,
#network.disconnected {
  color: #ea6962;
}

#mode {
  color: #32302f;
  background: #ea6962;
}

#battery.charging {
  color: #a9b665;
}

#battery.plugged {
  color: #7daea3;
}

#pulseaudio.bluetooth {
  color: #7daea3;
}

tooltip {
  background: #32302f;
  border: 1px solid #252423;
}
